  @font-face {
    font-family: Inter-Regular;
    src: url('Inter/static/Inter-Regular.ttf')  format('truetype');
}

@font-face {
    font-family: Inter-Medium;
    src: url('Inter/static/Inter-Medium.ttf')  format('truetype');
}

@font-face {
    font-family: Inter-SemiBold;
    src: url('Inter/static/Inter-SemiBold.ttf')  format('truetype');
}

@font-face {
    font-family: Inter-Bold;
    src: url('Inter/static/Inter-Bold.ttf')  format('truetype');
}

@font-face {
    font-family: Inter-ExtraBold;
    src: url('Inter/static/Inter-ExtraBold.ttf')  format('truetype');
}

/*Mobile view*/
@media only screen and (max-width: 719px) {
    
    /*Tags*/

    a {
       text-decoration: none; 
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 0;
        margin: 0;
        background-color: #494949;
    }

    textarea[type=text], select {
        width: 80vw;
        height: 20vh;
        display: inline-block;
        font-family: Inter-Medium;
        font-size: 3vw;
        background-color: #B9C1D6;
        border: none;
        border-radius: 0 2vw 2vw 2vw;
        box-sizing: border-box;
    }

    fieldset {
        display: flex;
        flex-direction: row;
        margin-left: 15vw;
        border: none;
    }

    /*Classes*/

    .like-icon {
        grid-area: span1;
        font-family: Inter-Bold;
        font-size: 3vw;
        color: rgb(255, 58, 179);
    }

    .comment-icon {
        margin-left: 1.5vw;
        grid-area: span2;
        font-family: Inter-Bold;
        font-size: 3vw;
        color: rgb(251, 255, 0);
    }

    .postCardBtns {
        margin-left: 5vw;
        width: 15vw;
        height: 5vh;
        font-family: Inter-SemiBold;
        font-size: 3vw;
        color: #222222;
        background-color: #4D82B4;
        border: none;
        border-radius: 0 2vw 2vw 2vw;
    }

    .dividerBanner {
        height: .5vh;
        width: 15vw;
        background-color: #B9C1D6;
    }

    .postCell {
        border: none;
        grid-area: cell;
    }

    .pnhBundlePost {
        margin-top: -2vh;
        margin-left: 1vw;
        margin-bottom: -3.5vh;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
    }

    .nameHandle {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .profImgPost {
        margin-top: -1.5vh;
        margin-left: 3vw;
        width: 50px;
        height: 50px;
        background-color: #bbb;
        display: inline-block;
        border-radius: 50%;
    }

    .pnhNameTextPost {
        margin-top: 0vh;
        margin-left: 2vw;
        margin-bottom: -1.5vh;
        font-family: Inter-Regular;
        font-size: 5vw;
        color: #B9C1D6;
    }

    .pnhHandTextPost {
        margin-left: 2vw;
        font-family: Inter-Regular;
        font-size: 4vw;
        color: #00ff9d;
    }

    .postCard {
        margin-top: 3vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 80vw;
        height: 30vh;
        color: #B9C1D6;
        text-align: center;
        background-color: #222222;
        border-radius: 0 2vw 2vw 2vw;
    }

    .postText {
        margin-top: 0;
        margin-left: 3vw;
        margin-right: 3vw;
        margin-bottom: .5vh;
        font-family: Inter-Regular;
        font-size: 3vw;
        word-wrap: break-word;
        max-height: 5vh;
        text-align: left;
        color: #B9C1D6;
    }

    .postFooter {
        margin-bottom: -3vh;
        display: flex;
        flex-direction: row;
        border-radius: 0 0 2vw 2vw;
    }

    .postIcons {
        margin-left: 1vw;
        width: 6vw;
    }

    .postIconsText {
        margin-top: 0vh;
        margin-left: .8vw;
        margin-right: 2vw;
        font-family: Inter-Regular;
        font-size: 4vw;
        text-align: left;
        color: #4D82B4;
    }

    .elipMenu {
        margin-left: 65vw;
        margin-bottom: -5vh;
    }

    .elipses {
        margin-left: 1vw;
        width: 1vh;
        height: 1vh;
        background-color: #bbb;
        display: inline-block;
        border-radius: 50%;
    }

    /*IDs*/

    #homePage {
        display: none;
    }

    #signupPage {
        display: none;
    }

    #loginPage {
        display: none;
    }

    #footer {
        display: none;
    }

    #editPostBtn {
        margin-left: 5vw;
        width: 15vw;
        height: 5vh;
        float: right;
        font-family: Inter-SemiBold;
        font-size: 3vw;
        color: #4D82B4;
        background-color: #222222;
        border: none;
        border-radius: 0 2vw 2vw 2vw;
    }

    #hideCell {
        display: none;
    }

    #dashLogo {
        padding: 0;
        margin: 0;
        font-family: Inter-ExtraBold;
        font-size: 10vw;
    }

    #dashText {
        padding: 0;
        margin: 0;
        font-family: Inter-Regular;
        font-size: 5vw;
        display: inline-block;
        text-align: left;
    }

    #topBannerSpacer {
        width: 25vw;
        height: 35vh;
        text-align: center;
        background-color: none;
    }

    /*For profImg, this is a placeholder for the profile image icon*/
    #profImgTop {
        display: inline-block;
        width: 50px;
        height: 50px;
        background: white;
        border-radius: 50%;
    }

    #profImgLeft {
        width: 50px;
        height: 50px;
        background-color: #bbb;
        display: inline-block;
        border-radius: 50%;
    }

    #mainSection {
        display: flex;
        flex-direction: row;
    }

    #dividerLine {
        height: 8vh;
        width: 1vw;
        background-color: #B9C1D6;
    }

    #topBanner {
        margin-bottom: 0vh;
        font-family: Inter-Medium;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        height: 10vh;
        color: #4D82B4;
        text-align: center;
        background-color: #222222;
    }

    #leftBanner {
        display: none;
    }

    #mobilePostBox {
       display: none;
        position: fixed;
        z-index: 1;
        padding-top: 30vh;
        width: 100vw;
        height: 100vh;
        overflow: auto;
        background-color: #222222;
        background-color: #22222288;
    }

    /* Modal Content */
    #mpbContent {
        background-color: #4D82B4;
        margin: auto;
        padding: 20px;
        border-radius: 0 2vw 2vw 2vw;
        height: 30vh;
        width: 80vw;
    }

    /* The Close Button */
    #close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    #close:hover,
    #close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    
    #newPost {
        position: fixed; 
        margin-top: 85vh;
        margin-left: 70vw;
    }

    #newPostIcon {
        width: 25vw;
    }

    #postGrid {
        margin-left: 10vw;
        display: grid;
        width: 60vw;
        grid-template-columns: 1fr 8fr 1fr;
    }

    #textPostField {
        display: none;
    }

    #dividerPost {
        display: none;
    }

    #postImg {
        margin-left: 2vw;
        width: 76vw;
        height: 10vh;
        background: #bbb;
        border-radius: .5vw .5vw .5vw .5vw;
        box-sizing: border-box;
    }

    #rightBanner {
        display: none;
    }


}


/*Destkop view*/
@media only screen and (min-width: 720px) {

    /*Tags*/

    a {
       text-decoration: none; 
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 0;
        margin: 0;
        height: 100vh;
        background-color: #494949;
    }

    textarea[type=text], select {
        width: 48vw;
        height: 8vh;
        margin-left: 1vw;
        display: inline-block;
        font-family: Inter-Medium;
        font-size: 1vw;
        background-color: #B9C1D6;
        border: none;
        border-radius: 0 .5vw .5vw .5vw;
        box-sizing: border-box;
    }

    fieldset {
        display: flex;
        flex-direction: row;
        margin-left: 19vw;
        border: none;
    }

    /*Classes*/

    .postCardBtns {
        margin-left: 2vw;
        width: 8vw;
        height: 3vh;
        font-family: Inter-SemiBold;
        font-size: 1vw;
        color: #222222;
        background-color: #4D82B4;
        border: none;
        border-radius: 0 .5vw .5vw .5vw;
    }

    .leftBannerText{
        font-family: Inter-Regular;
        font-size: 1vw;
        color: #B9C1D6;
    }

    .buttonLeftMenu {
        padding: 0;
        font-family: Inter-Regular;
        font-size: 1.5vw;
        color: #222222;
        text-align: center;
        background: none;
        border: none;
    }

    .buttonLeftMenu:hover {
        padding: 0;
        font-family: Inter-Regular;
        color: #B9C1D6;
        text-align: center;
        background: none;
        border: none;
    }

    .dividerBanner {
        height: .5vh;
        width: 15vw;
        background-color: #B9C1D6;
    }

    .elipMenu {
        margin-left: 45vw;
        margin-bottom: -5vh;
    }

    .elipses {
        margin-left: .5vw;
        width: 1vh;
        height: 1vh;
        background-color: #bbb;
        display: inline-block;
        border-radius: 50%;
    }

    .nameHandle {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .pnhBundleFollow {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
    }

    .profImgFollow {
        width: 4vh;
        height: 4vh;
        background-color: #bbb;
        display: inline-block;
        border-radius: 50%;
    }

    .pnhNameTextFollow {
        font-family: Inter-Regular;
        font-size: 1.5vw;
        color: #B9C1D6;
    }

    .pnhHandTextFollow {
        font-family: Inter-Regular;
        font-size: .8vw;
        color: #00ff9d;
    }

    .followCell {
        margin-bottom: -.5vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: none;
        color: #AAA;
    }

    .postCell {
        border: none;
        color: #AAA;
    }

    .pnhBundlePost {
        margin-left: 2vw;
        margin-bottom: 0vh;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
    }

    .profImgPost {
        width: 4vh;
        height: 4vh;
        background-color: #bbb;
        display: inline-block;
        border-radius: 50%;
    }

    .pnhNameTextPost {
        margin-top: 0vh;
        margin-left: 1vw;
        margin-bottom: -1vh;
        font-family: Inter-Regular;
        font-size: 1.5vw;
        color: #B9C1D6;
    }

    .pnhHandTextPost {
        margin-left: 1vw;
        font-family: Inter-Regular;
        font-size: 1vw;
        color: #00ff9d;
    }

    .postCard {
        margin-top: 3vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 50vw;
        height: 25vh;
        color: #B9C1D6;
        text-align: center;
        background-color: #222222;
        border-radius: 0 .5vw .5vw .5vw;
    }

    .postText {
        margin-top: 0;
        margin-left: 3vw;
        margin-right: 2vw;
        margin-bottom: .5vh;
        font-family: Inter-Regular;
        font-size: 1vw;
        text-align: left;
        color: #B9C1D6;
    }

    .like-icon {
        grid-area: span1;
        font-family: Inter-Bold;
        font-size: 1vw;
        color: rgb(255, 58, 179);
    }

    .comment-icon {
        margin-left: 1.5vw;
        grid-area: span2;
        font-family: Inter-Bold;
        font-size: 1vw;
        color: rgb(251, 255, 0);
    }


    .post-btn-group {
        grid-area: field;
    }

    .postFooter {
        display: flex;
        flex-direction: row;
        margin-top: 1vh;
        margin-left: 3vw;
    }

    .postIconsText {
        margin-top: 0vh;
        margin-left: .8vw;
        margin-right: 2vw;
        margin-bottom: -11vh;
        font-family: Inter-Regular;
        font-size: 1.5vw;
        text-align: left;
        color: #4D82B4;
    }

    .pnhBundleReply {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
    }

    .profImgReply {
        width: 4vh;
        height: 4vh;
        background-color: #bbb;
        display: inline-block;
        border-radius: 50%;
    }

    .pnhNameTextReply {
        font-family: Inter-Regular;
        font-size: 1.5vw;
        color: #B9C1D6;
    }

    .pnhHandTextReply {
        font-family: Inter-Regular;
        font-size: .8vw;
        color: #00ff9d;
    }

    .replyCell {
        margin-bottom: -.5vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: none;
        color: #AAA;
    }

    .trendingCell {
        border: none;
        color: #AAA;
    }

    .buttonTrending {
        margin-bottom: 1vh;
        width: 5vw;
        height: 2vh;
        font-family: Inter-SemiBold;
        font-size: .8vw;
        color: #222222;
        background-color: #B9C1D6;
        border: none;
        border-radius: 0 .5vw .5vw .5vw;
    }

    .buttonTrending:hover {
        padding: 0;
        font-family: Inter-SemiBold;
        color: #B9C1D6;
        background-color: #222222;
        border: none;
    }

    .buttonRightMenu {
        padding: 0;
        font-family: Inter-Regular;
        font-size: 1.25vw;
        color: #B9C1D6;
        text-align: center;
        background: none;
        border: none;
    }

    .buttonRightMenu:hover {
        padding: 0;
        font-family: Inter-Regular;
        color: #B9C1D6;
        text-align: center;
        text-decoration: underline;
        background: none;
        border: none;
    }

    /*IDs*/

    #homePage {
        display: none;
    }

    #signupPage {
        display: none;
    }

    #loginPage {
        display: none;
    }

    #footer {
        display: none;
    }

    #editPostBtn {
        margin-top: 1vh;
        margin-left: 2vw;
        width: 8vw;
        height: 3vh;
        float: right;
        font-family: Inter-SemiBold;
        font-size: 1vw;
        color: #4D82B4;
        background-color: #222222;
        border: none;
        border-radius: 0 .5vw .5vw .5vw;
    }

    #mobilePostBox {
       display: none;
       position: fixed;
       z-index: 1;
       padding-top: 35vh;
       width: 100vw;
       height: 100vh;
       overflow: auto;
       background-color: #222222;
       background-color: #22222288;
   }

   /* Modal Content */
   #mpbContent {
       background-color: #4D82B4;
       margin: auto;
       padding: 20px;
       border-radius: 0 1vw 1vw 1vw;
       width: 50vw;
       height: 15vh;
   }

   /* The Close Button */
   #close {
       color: #222222;
       float: right;
       font-size: 28px;
       font-weight: bold;
   }
   
   #close:hover,
   #close:focus {
       color: #000;
       text-decoration: none;
       cursor: pointer;
   }

    #dashLogo {
        padding: 0;
        margin: 0;
        font-family: Inter-ExtraBold;
        font-size: 5vw;
    }

    #dashText {
        padding: 0;
        margin: 0;
        font-family: Inter-Regular;
        font-size: 3.5vw;
        display: inline-block;
        text-align: left;
    }

    #topBannerSpacer {
        width: 61vw;
        height: 35vh;
        text-align: center;
        background-color: none;
    }

    /*For profImg, this is a placeholder for the profile image icon*/
    #profImgTop {
        display: inline-block;
        width: 5vh;
        height: 5vh;
        background: #bbb;
        border-radius: 50%;
    }

    #profImgLeft {
        width: 4vh;
        height: 4vh;
        background-color: #bbb;
        display: inline-block;
        border-radius: 50%;
    }

    #mainSection {
        display: flex;
        flex-direction: row;
    }

    #dividerLine {
        height: 8vh;
        width: .25vw;
        background-color: #B9C1D6;
    }

    #topBanner {
        margin-bottom: 5vh;
        font-family: Inter-Medium;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        height: 10vh;
        color: #4D82B4;
        text-align: center;
        background-color: #222222;
    }

    #pnhBundle {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        text-align: left;
    }

    #pnhNameText {
        font-family: Inter-Regular;
        font-size: 2vw;
        color: #B9C1D6;
    }

    #pnhHandText {
        font-family: Inter-Regular;
        font-size: .8vw;
        color: #00ff9d;
    }

    #leftBanner {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 20vw;
        height: 65vh;
        color: #B9C1D6;
        text-align: center;
        background-color: #222222;
        border-radius: 0 .4vw .4vw 0;
    }

    #leftMenu {
        display: flex;
        flex-direction: column;
        width: 20vw;
        height: 9.3vw;
        background-color: #4D82B4;
    }

    #followGrid {
        display: grid;
        grid-template-rows: 1fr 2fr 1fr;
        grid-template-columns: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr);
    }

    #topFollowsText {
        margin-top: -.2vw;
        margin-bottom: 0.3vw;
        font-family: Inter-Regular;
        font-size: 2vw;
        color: #B9C1D6;
    }

    #replyText {
        margin-top: -.5vw;
        margin-bottom: 0.3vw;
        font-family: Inter-Bold;
        font-size: 2vw;
        color: #4D82B4;
    }

    #postGrid {
        display: grid;
        grid-template-areas: ". cell";
        width: 100vw;
        overflow: hidden;
    }

    #postButton {
        margin-left: 44vw;
        width: 5vw;
        height: 2vh;
        font-family: Inter-SemiBold;
        font-size: .8vw;
        color: #222222;
        background-color: #4D82B4;
        border: none;
        border-radius: 0 .5vw .5vw .5vw;
    }

    #postButton:hover {
        padding: 0;
        font-family: Inter-SemiBold;
        color: #222222;
        background-color: #B9C1D6;
        border: none;
    }

    #dividerPost {
        margin-top: 3vh;
        width: 50vw;
        height: .5vw;
        background-color: #4D82B4;
    }

    #textPostField {
        margin-top: 3vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 50vw;
        height: 20vh;
        color: #B9C1D6;
        text-align: center;
        background-color: #222222;
        border-radius: 0 .5vw .5vw .5vw;
    }

    #postImg {
        margin-left: 2vw;
        width: 46vw;
        height: 8vh;
        background: #bbb;
        border-radius: .5vw .5vw .5vw .5vw;
        box-sizing: border-box;
    }

    #rightBanner {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 20vw;
        height: 65vh;
        color: #B9C1D6;
        text-align: center;
        background-color: #222222;
        border-radius: .4vw 0 0 .4vw;
    }

    #replyGrid {
        display: grid;
        grid-template-rows: 1fr 2fr 1fr;
        grid-template-columns: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr);
    }

    #trendingText {
        margin-top: -.1vw;
        margin-bottom: 0.5vw;
        font-family: Inter-Bold;
        font-size: 2vw;
        color: #222222;
    }

    #trending {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 20vw;
        height: 9.3vw;
        background-color: #4D82B4;
    }

    #trendingGrid {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }

    #siteMenuLinks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
    }

    #newPost {
        display: none;
    }
}