 @font-face {
    font-family: Inter-Regular;
    src: url('Inter/static/Inter-Regular.ttf')  format('truetype');
}

@font-face {
    font-family: Inter-Medium;
    src: url('Inter/static/Inter-Medium.ttf')  format('truetype');
}

@font-face {
    font-family: Inter-SemiBold;
    src: url('Inter/static/Inter-SemiBold.ttf')  format('truetype');
}

@font-face {
    font-family: Inter-ExtraBold;
    src: url('Inter/static/Inter-ExtraBold.ttf')  format('truetype');
}

@media only screen and (max-width: 719px) {
    
    a {
        text-decoration: none; 
     }
 
    body {
        padding: 0;
        margin: 0;
        background-color: #355899;
    }

    #signupPage {
        display: none;
    }

    #loginPage {
        display: none;
    }

    #dashPage {
        display: none;
    }

    #footer {
        display: none;
    }

    #homeLogo {
        padding: 0;
        margin: 0;
        font-family: Inter-ExtraBold;
        font-size: 30vw;
    }
 
    #homeText {
        padding: 0;
        margin: 0;
        font-family: Inter-Medium;
        font-size: 8vw;
        display: inline-block;
        text-align: left;
    }
 
    #mainSection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
 
    #dividerLine {
        padding: 0;
        margin: 0;
        height: 1vh;
        width: 70vw;
        background-color: #B9C1D6;
    }
 
    #leftBanner {
        margin-bottom: 5vh;
        font-family: Inter-Medium;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 40vh;
        color: #4D82B4;
        text-align: center;
        background-color: #222222;
    }

    #loginPageBtn {
        padding: 0;
        width: 75vw;
        height: 12vh;
        font-family: Inter-SemiBold;
        font-size: 12vw;
        color: #222222;
        background-color: #4D82B4;
        border: none;
    }
 
    #middleSpacer {
        display: none;
    }
 
    #rightBanner {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 100vw;
        height: 50vh;
        color: #222222;
        text-align: center;
        background-color: none;
    }

    #signupPageBtn {
        padding: 0;
        width: 75vw;
        height: 12vh;
        font-family: Inter-SemiBold;
        font-size: 12vw;
        color: #222222;
        background-color: #4D82B4;
        border: none;
    }
 
    #footer {
        display: none;
    }
 
}

@media only screen and (min-width: 720px) {

    a {
       text-decoration: none; 
    }

    body {
        padding: 0;
        margin: 0;
        background-color: #355899;
    }

    .buttonFooter {
        padding: 0;
        font-family: Inter-Regular;
        font-size: 1vw;
        color: #B9C1D6;
        text-align: center;
        background: none;
        border: none;
    }

    .buttonFooter:hover {
        padding: 0;
        font-family: Inter-Regular;
        font-size: 1vw;
        color: #B9C1D6;
        text-align: center;
        text-decoration: underline;
        background: none;
        border: none;
    }

    #signupPage {
        display: none;
    }

    #loginPage {
        display: none;
    }

    #dashPage {
        display: none;
    }

    #homeLogo {
        padding: 0;
        margin: 0;
        font-family: Inter-ExtraBold;
        font-size: 10vw;
    }

    #homeText {
        padding: 0;
        margin: 0;
        font-family: Inter-Medium;
        font-size: 2vw;
        display: inline-block;
        text-align: left;
    }

    #mainSection {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #dividerLine {
        padding: 0;
        margin: 0;
        height: 1vh;
        width: 27vw;
        background-color: #B9C1D6;
      }

    #leftBanner {
        margin-top: 25vh;
        margin-bottom: 25vh;
        font-family: Inter-Medium;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40vw;
        height: 40vh;
        color: #4D82B4;
        text-align: center;
        background-color: #222222;
    }

    #loginPageBtn {
        padding: 0;
        width: 25vw;
        height: 8vh;
        font-family: Inter-SemiBold;
        font-size: 2vw;
        color: #B9C1D6;
        background-color: #222222;
        border: none;
    }

    #loginPageBtn:hover {
        padding: 0;
        width: 25vw;
        height: 8vh;
        font-family: Inter-SemiBold;
        font-size: 2vw;
        color: #222222;
        background-color: #B9C1D6;
        border: none;
    }

    #middleSpacer {
        justify-content: center;
        width: 20vw;
        height: 35vh;
        text-align: center;
        background-color: none;
    }

    #rightBanner {
        margin-top: 25vh;
        margin-bottom: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 40vw;
        height: 40vh;
        color: #222222;
        text-align: center;
        background-color: #4D82B4;
    }

    #signupPageBtn {
        padding: 0;
        width: 25vw;
        height: 8vh;
        font-family: Inter-SemiBold;
        font-size: 2vw;
        color: #B9C1D6;
        background-color: #222222;
        border: none;
    }

    #signupPageBtn:hover {
        padding: 0;
        width: 25vw;
        height: 8vh;
        font-family: Inter-SemiBold;
        font-size: 2vw;
        color: #222222;
        background-color: #B9C1D6;
        border: none;
    }

    #footer {
        padding: 0;
        margin: 0;
        font-family: Inter-Regular;
        font-size: 1vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 10vh;
        color: #B9C1D6;
        text-align: center;
        background-color: #222222;
    }

    #footerLinks {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 80vw;
    }

}