@font-face {
    font-family: Inter-Regular;
    src: url('Inter/static/Inter-Regular.ttf')  format('truetype');
}

@font-face {
    font-family: Inter-Medium;
    src: url('Inter/static/Inter-Medium.ttf')  format('truetype');
}

@font-face {
    font-family: Inter-SemiBold;
    src: url('Inter/static/Inter-SemiBold.ttf')  format('truetype');
}

@font-face {
    font-family: Inter-ExtraBold;
    src: url('Inter/static/Inter-ExtraBold.ttf')  format('truetype');
}

@media only screen and (max-width: 719px) {
    
    a {
        text-decoration: none; 
    }
 
    body {
        padding: 0;
        margin: 0;
        background-color: #355899;
    }

    input[type=text], select {
        width: 100vw;
        padding: 12px 20px;
        margin: 1vh 0;
        display: inline-block;
        font-family: Inter-Medium;
        font-size: 3vw;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    input[type=email], select {
        width: 100vw;
        padding: 12px 20px;
        margin: 1vh 0;
        display: inline-block;
        font-family: Inter-Medium;
        font-size: 3vw;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    .buttonFooter {
        padding: 0;
        font-family: Inter-Regular;
        font-size: 1vw;
        color: #B9C1D6;
        text-align: center;
        background: none;
        border: none;
    }

    .buttonFooter:hover {
        padding: 0;
        font-family: Inter-Regular;
        font-size: 1vw;
        color: #B9C1D6;
        text-align: center;
        text-decoration: underline;
        background: none;
        border: none;
    }

    #homePage {
        display: none;
    }

    #loginPage {
        display: none;
    }

    #dashPage {
        display: none;
    }

    #signupBtn {
        padding: 0;
        width: 40vw;
        height: 8vh;
        font-family: Inter-SemiBold;
        font-size: 8vw;
        color: #B9C1D6;
        background-color: #222222;
        border: none;
    }

    #signupLogo {
        display:none;
    }

    #signupText {
        padding: 0;
        margin: 0;
        font-family: Inter-Medium;
        font-size: 10vw;
        display: inline-block;
        text-align: left;
    }

    #mainSection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #dividerLine {
        display: none;
    }

    #topBanner {
        margin-bottom: 6vh;
        font-family: Inter-Medium;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 20vh;
        color: #4D82B4;
        text-align: center;
        background-color: #222222;
    }

    #topLogo {
        display: flex;
        flex-direction: column;
    }

    #middleSpacer {
        display: none;
    }

    #bottomBanner {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        height: 67vh;
        font-family: Inter-Medium;
        font-size: 4vw;
        text-indent: 3vw;
        color: #222222;
        text-align: left;
        background-color: #4D82B4;
    }

    #flexRow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #footer {
        display: none;
    }
}

@media only screen and (min-width: 720px) {
    
    a {
        text-decoration: none; 
    }
 
    body {
        padding: 0;
        margin: 0;
        background-color: #355899;
    }

    label {
        font-size: 1.3vw;
    }

    input[type=text], select {
        width: 40vw;
        padding: 10px 10px;
        margin: .7vh 0;
        display: inline-block;
        font-family: Inter-Medium;
        font-size: 1.2vw;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    input[type=email], select {
        width: 40vw;
        padding: 10px 10px;
        margin: .7vh 0;
        display: inline-block;
        font-family: Inter-Medium;
        font-size: 1.2vw;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    .buttonFooter {
        padding: 0;
        font-family: Inter-Regular;
        font-size: 1vw;
        color: #B9C1D6;
        text-align: center;
        background: none;
        border: none;
    }

    .buttonFooter:hover {
        padding: 0;
        font-family: Inter-Regular;
        font-size: 1vw;
        color: #B9C1D6;
        text-align: center;
        text-decoration: underline;
        background: none;
        border: none;
    }

    #homePage {
        display: none;
    }

    #loginPage {
        display: none;
    }

    #dashPage {
        display: none;
    }

    #signupBtn {
        padding: 0;
        margin-top: 2vh;
        width: 25vw;
        height: 8vh;
        font-family: Inter-SemiBold;
        font-size: 2vw;
        color: #B9C1D6;
        background-color: #222222;
        border: none;
    }

    #signupBtn:hover {
        padding: 0;
        margin-top: 2vh;
        width: 25vw;
        height: 8vh;
        font-family: Inter-SemiBold;
        font-size: 2vw;
        color: #222222;
        background-color: #B9C1D6;
        border: none;
    }

    #signupLogo {
        padding: 0;
        margin: 0;
        font-family: Inter-ExtraBold;
        font-size: 10vw;
    }

    #signupText {
        padding: 0;
        margin: 0;
        font-family: Inter-Medium;
        font-size: 2vw;
        display: inline-block;
        text-align: left;
    }

    #mainSection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #dividerLine {
        padding: 0;
        margin: 0;
        height: 20vh;
        width: .75vw;
        background-color: #B9C1D6;
    }

    #topBanner {
        margin-top: 0vh;
        margin-left: 25vw;
        margin-right: 25vw;
        margin-bottom: 5vh;
        font-family: Inter-Medium;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 50vw;
        height: 25vh;
        color: #4D82B4;
        text-align: center;
        background-color: #222222;
    }

    #topLogo {
        display: flex;
        flex-direction: column;
    }

    #middleSpacer {
        justify-content: center;
        width: 20vw;
        height: 35vh;
        text-align: center;
        background-color: none;
    }

    #bottomBanner {
        margin-top: 0vh;
        margin-bottom: 0vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50vw;
        height: 60vh;
        font-family: Inter-Medium;
        font-size: 1vw;
        color: #222222;
        text-align: left;
        background-color: #4D82B4;
    }

    #flexRow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #footer {
        padding: 0;
        margin: 0;
        font-family: Inter-Regular;
        font-size: 1vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 10vh;
        color: #B9C1D6;
        text-align: center;
        background-color: #222222;
    }

    #footerLinks {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 80vw;
    }
}